.invoice-content {
    width: 80%;
    margin: auto;
}

hr {
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
}

i {
    margin-right: 5px;
}

.chk {
    width: 18px;
    height: 17px;
    margin-right: 10px;
    margin-top: 15px;
}

.text {
    display: inline;
    font-size: 19px;
}

.react-tabs {
    width: 80vw;
    margin: auto;
}

.react-tabs__tab-list {
    display: flex;
    justify-content: space-evenly;
}

.react-tabs__tab:focus {
    outline: darkgreen !important;
}

.content {
    width: 70vw;
    margin: auto;
    border: solid 1px gray;
    background-color: aliceblue;
    border-radius: 5px;
    margin: 20px auto;
}



.content .body-content img {
    display: block;
    margin: auto;
    mix-blend-mode: darken;
}

.head-content {
    padding: 20px;
    font-size: x-large;
    font-weight: 700;
}

.head-content .col:last-child {
    text-align: end;
    display: block;
}

.btn-content {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.btn-content .btn {
    margin: 0px 20px;
}