.content {
    width: 80%;
    margin: 0 auto;
}

.cart-items {

    overflow-y: scroll;
    max-height: 100vh;
}

.cart-item {
    padding: 60px 50px;
}

.cart-item .cart-item-img img {
    width: 200px;
}

h3 {
    font-weight: 700;
}

.btn-trash {
    float: right;
    background-color: white;
    cursor: pointer;
    color: black;
    font-size: 19px;
    border: solid 1px black;
}

.btn-trash:hover {
    background-color: red;
    color: white;
    border: solid;
}

.cart-item-check {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-item-check input {
    width: 20px;
    height: 20px;
}

.col-right {
    text-align: end;
    margin-right: 20px;
}

h2 {
    font-weight: bold;
}

.col-right .select {
    width: 200px;
    padding: 10px;
    border-radius: 10px;
}

option {
    text-align: center !important;
    padding: 10px !important;
}

.btn-pay {
    float: inline-end;
    margin-right: 20px;
    padding: 10px;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-color,
.btn-rom {
    margin: 5px;
    background-color: transparent;
    color: black;
    border: solid;
}

.change-quantity {
    display: flex;
    border: solid 2px black;
    border-radius: 15px;
    justify-content: space-around;
}

.change-quantity .btn-value {
    width: 30px;
    text-align: center;
    border: none;
}

.change-quantity .btn-plus,
.change-quantity .btn-minus {
    border: none;
    background-color: transparent;
    color: black;
    cursor: pointer;
    margin: 2px;
    font-size: 1.2rem;
}
.cart-empty{
    text-align: center;
    font-size: 5rem;
}