.favorite{
    display: flex;
}
.favorite>.body-content{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
}

.head-content {
    padding: 20px;
    font-size: x-large;
    font-weight: 700;
}

.head-content .col:last-child {
    text-align: end;
    display: block;
}

.btn-content {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.btn-content .btn {
    margin: 0px 20px;
}
.content-detail{
    display: flex;
    flex-direction: column;
}
.btn-fav{
    justify-content: flex-end;
}
