.order-md-1 {
    border: solid 1px rgb(221, 247, 235);
    border-radius: 10px;
    padding: 15px 5%;
    margin-right: 10px;
}

.order-md-1 h4 {
    text-align: center;
}

.in-cus {
    display: flex;
    justify-content: space-between;
}

.in-cus input {
    width: 55vmin;
    margin: 5px 0px;
}

.in-cus label {
    display: flex;
    align-items: center;
}

.pttt {
    display: flex;
    justify-content: space-around;
}

.pttt input {
    margin-right: 5px;
}

.order-md-2 {
    border: solid 1px rgb(221, 247, 235);
    border-radius: 10px;
    margin-left: 10px;
}

.order-md-2 ul li {
    padding: 20px;
}

.order-md-2 input {
    margin-right: 10px;
}

.order-md-2 h4 {
    padding-top: 15px;
}

.pay-content {
    justify-content: center;
}

@media (max-width: 500px) {

    .order-md-1 {
        padding: 25px;
    }
}

@media (max-width: 700px) {

    .order-md-1 {
        padding: 15px 15px;
    }

    .order-md-1 .in-cus input {
        width: 300px;
        margin: 5px 0px;
    }

    .pttt {
        display: block;
    }
}

@media (max-width: 995px) {

    .order-md-1 {
        padding: 15px 20px;
    }

    .in-cus input {
        width: 70vmin;
        margin: 5px 0px;
    }

    .pttt {
        display: block;
    }
}


@media (max-width: 1000px) {

    .order-md-1 {
        padding: 15px 5px;
    }

    .order-md-1 input {
        width: 250px;
    }

    .pttt {
        display: block;
    }

    .pttt input {
        width: 150px;
    }
}


@media (max-width: 1300px) {

    .order-md-1 {
        padding: 15px 15px;
    }
}

@media (max-width: 1500px) {

    .order-md-1 {
        padding: 15px 5px;
    }
}