.shopcategory-banner {
    display: block;
    margin: 30px auto;
    width: 82%;
}

.shopcategory-indexSort {
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;
}

.shopcategory-filter {
    display: flex;
    margin: 20px 170px;
    justify-content: start;
    align-items: center;
    padding-bottom: 20px;
}

.shopcategory-filtered {
    margin: 20px 170px;
}

.shopcategory-filtered .shopcategory-fill {
    color: #000;
    margin: 0 10px;
}

.shopcategory-filter .dropdown {
    margin: 0 10px;
}

.shopcategory-filter .dropdown-menu.show {
    display: flex !important;
}

.shopcategory-filter .dropdown-menu .dropdown-item.active {
    border: 1px solid gray;
    border-radius: 20px;
    background-color: transparent;
    margin: 5px;
    color: #000;
}

.shopcategory-sort,
.shopcategory-fill {
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;

}

.cancel-fill {
    border: none;
    padding-left: 5px;
}

.shopcategory-filter .btn {
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
    background-color: transparent;
    color: #000;
}

.shopcategory-filter .btn.show {
    background-color: transparent;
    color: #000;
}

.shopcategory-filter .btn:hover {
    color: #000;
    background-color: transparent;
    border-color: 1px solid #888;
}

.shopcategory-indexSort p span {
    font-weight: 600;
}

.shopcategory-products {
    margin: 20px 170px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 80px;
    justify-items: center;
}

.shopcategory-loadmore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background: #ededed;
    color: #787878;
    font-size: 18px;
    font-weight: 500;
}

.slider-price {
    width: 280px !important;
    display: flex !important;
    margin: 0 auto;
}


.show-price,
.title-price {
    text-align: center
}

.shopcategory-fill-cancel,
.shopcategory-fill-cancel button {

    border-color: red;
    color: red;
    background-color: #fff;
}

.shopcategory-fill-cancel {
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid;
    margin: 0 5px;
}

@media(max-width:1280px) {
    .shopcategory-banner {
        margin: 20px auto;
        width: 90%;
    }

    .shopcategory-indexSort {
        width: 90%;
        margin: auto;
    }

    .shopcategory-sort {
        padding: 5px 10px;
        font-size: 12px;
    }

    .shopcategory-indexSort p {
        font-size: 12px;
    }

    .shopcategory-products {
        width: 90%;
        margin: 10px auto;
        row-gap: 40px;
    }

    .shopcategory-products .item {
        margin: auto;
    }

    .shopcategory-loadmore {
        margin: 100px auto;
        width: 200px;
        height: 60px;
        font-size: 16px;
    }
}

@media(max-width:800px) {
    .shopcategory-banner {
        width: 95%;
    }

    .shopcategory-products {
        width: 95%;
    }

    .shopcategory-loadmore {
        margin: 60px auto;
        width: 150px;
        height: 40px;
        font-size: 13px;
    }
}

@media(max-width:500px) {
    .shopcategory-products {
        grid-template-columns: 1fr 1fr;
    }
}