.newsletter {
    height: 500px;
    margin-top: 50px;
    background-color: white;
    width: 70vw;
    margin: auto;
}

.newsletter h1 {

    color: #171717;
    font-weight: bold;
    font-size: 43px;
    font-family: 'Marcellus', serif;
    text-align: center;
}

.newsletter p {
    margin-top: 50px;
    color: #171717;
    font-family: "emoji";
    text-align: center;
}

.newsletter .row {
    background-color: white !important;
}

.newsletter .img-1 {
    width: 33vw;
    height: 300px;
    background-image: url("../Assets/1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    float: inline-end;
    margin: 10px;
}

.newsletter .img-2 {
    width: 33vw;
    height: 300px;
    background-image: url("../Assets/2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    float: inline-end;
    margin: 10px;
}


.newsletter .img-3 {
    width: 33vw;
    height: 300px;
    margin: 10px;
    background-image: url("../Assets/3.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    float: inline-end;
}

.newsletter .img-4 {
    width: 33vw;
    padding: 5px;
    height: 300px;
    margin: 10px;
    background-image: url("../Assets/4.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    float: inline-end;
}

.newsletter .img-5 {
    width: 33vw;
    height: 300px;
    margin: 10px;
    background-image: url("../Assets/5.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    float: inline-end;
}

.swiper-pagination {
    position: relative !important;
    padding-top: 20px;
}

.swiper-slide {
    background-color: white;
    display: flex;
    justify-content: center;
}

.swiper-pagination-bullet-active {
    background: black !important;
}

@media (max-width:650px) {

    .img-1,
    .img-2,
    .img-3,
    .img-4,
    .img-5 {
        width: 60vw !important;
        height: 25vh !important;
    }

    .newsletter {
        height: 350px;
    }

}

@media (max-width:850px) {

    .img-1,
    .img-2,
    .img-3,
    .img-4,
    .img-5 {
        width: 65vw !important;
        height: 25vh !important;
    }

    .newsletter {
        height: 350px;
    }

}

@media (max-width:920px) {

    .img-1,
    .img-2,
    .img-3,
    .img-4,
    .img-5 {
        width: 65vw !important;
        height: 25vh !important;
    }

    .newsletter {
        height: 350px;
    }

}


@media (max-width:1020px) {

    .img-1,
    .img-2,
    .img-3,
    .img-4,
    .img-5 {
        width: 65vw !important;
        height: 25vh !important;
    }

    .newsletter {
        height: 400px;
    }

}

/*
@media (min-width: 650px) {

    .newsletter .img-1,
    .newsletter .img-2,
    .newsletter .img-3,
    .newsletter .img-4,
    .newsletter .img-5 {
        width: 300px !important;
        height: 200px !important;
        margin: auto !important;
    }

    .newsletter {
        height: 50vh !important;
    }
}

@media (min-width: 1024px) {

    .newsletter .img-1,
    .newsletter .img-2,
    .newsletter .img-3,
    .newsletter .img-4,
    .newsletter .img-5 {
        width: 30vw;
        height: 300px;
    }

    .newsletter h1 {
        font-size: 43px;
    }
} */