.navbar {
    display: flex;
    justify-content: space-around !important;
    padding: 16px;
    /* box-shadow: 0px 1px 3px -2px black; */
    align-items: center;
    width: 95vw;
    margin: 0 auto;
    background-color: white;
    padding: 0 20px;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo p {
    color: #171717;
    font-size: 38px;
    font-weight: 600;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #626262;
    font-size: 20px;
    font-weight: 500;
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu li a {
    font-size: 0.9375rem;
    color: darkslategray;
}

.nav-menu hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: darkslategrey;
}

.img-cart {
    width: 30px;
}

.nav-login-cart {
    display: flex;
    align-items: center;
    gap: 45px;
}

.nav-login-cart button {
    width: 157px;
    height: 58px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    font-size: 20px;
    font-weight: 500;
    background: white;
    cursor: pointer;
}

.nav-cart-count {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}

.nav-dropdown {
    display: none;
}

.nav-menu img {
    width: 80px;
    margin: 0 auto;
}

nav {
    &.primary-navigation {


        ul li {
            list-style: none;
            margin: 0 auto;

            display: inline-block;
            padding: 0 30px;
            position: relative;
            text-decoration: none;
            text-align: center;

            font-size: 0.9375rem;

        }

        li a {
            color: darkslategray;
        }

        li a:hover {
            color: #3ca0e7;
        }

        li:hover {
            cursor: pointer;
        }

        ul li ul {
            visibility: hidden;
            opacity: 0;
            position: absolute;
            padding-left: 0;
            left: 0;
            display: none;
            background: white;
        }

        ul li:hover>ul,
        ul li ul:hover {
            visibility: visible;
            opacity: 1;
            display: block;
            min-width: 250px;
            text-align: left;
            padding-top: 20px;
            box-shadow: 0px 3px 5px -1px #ccc;
        }

        ul li ul li {
            clear: both;
            width: 100%;
            text-align: left;
            margin-bottom: 20px;
            border-style: none;
        }

        /* ul li ul li a:hover {
        padding-left: 10px;
        border-left: 2px solid #3ca0e7;
        transition: all 0.3s ease;
      } */
    }
}

a {

    text-decoration: none;

    &:hover {
        color: #3CA0E7;
    }

}

ul li ul li a {
    transition: all 0.5s ease;
}


@media(max-width: 1280px) {
    .navbar {
        padding: 12px 50px;
    }

    .nav-logo img {
        width: 40px;
    }

    .nav-logo p {
        font-size: 25px;
    }

    .nav-menu {
        gap: 30px;
        font-size: 16px;
    }

    .nav-login-cart {
        gap: 30px;
    }

    .nav-login-cart button {
        width: 120px;
        height: 45px;
        font-size: 16px;
    }

    .nav-cart-count {
        margin-left: -40px;
        font-size: 12px;
    }
}

@media(max-width: 1024px) {
    .navbar {
        padding: 12px 30px;
    }

    .nav-menu {
        gap: 20px;
        font-size: 12px;
    }

    .nav-login-cart button {
        width: 60px;
        height: 30px;
        font-size: 12px;
    }

    .nav-login-cart img {
        display: none;
    }

    .nav-cart-count {
        display: none;
    }
}

@media(max-width: 800px) {
    .navbar {
        padding: 10px 0px;
    }

    .nav-dropdown {
        display: block;
        width: 30px;
        transform: rotate(-90deg);
        transition: transform 0.5s;
    }

    .nav-menu {
        display: none;
        height: 80px;
        width: 100%;
        position: absolute;
        background-color: var(--background-color);
        justify-content: center;
        top: 50px;
    }

    .nav-menu-visible {
        display: flex;
    }

    .nav-dropdown.open {
        transform: rotate(90deg);
    }
}

@media(max-width: 500px) {
    .navbar {
        gap: 0;
    }

    .nav-logo {
        transform: scale(0.8);
    }

    .nav-menu {
        height: 70px;
        top: 50px;
    }

    .nav-login-cart {
        transform: scale(0.8);
    }
}